@import "tailwindcss";
@config "../tailwind.config.js";

:root {
  font-family: 'Manrope', sans-serif;
  background-color: #f9fafb;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
}
